body {
  background-image: url("code\ background.jpg");
}
.navbar-dark {
  background: fixed;
  border: none;
  margin-bottom: 30px;
  width: auto;
}  

section {
  width: 800px;
  margin-left: 30px;
  margin-bottom: 170px;
  padding-left: 80px;
  padding-right: 80px;
  background-color:white;
}

form {
  margin: 40px;
  padding: 30px;
  width: 600px;
  background-color:white;
}
h1 {
  color: black;
  padding: 10px;    
}

body{
  color:black;
}

#inputMessage {
  height: 75px;
}

aside {
  background-color: white;
  margin-top: 30px;
  margin-right: 30px;
  height: 800px;
  width: 800px;
  margin: 0 auto;
  padding-left: 110px;
}

footer {
  background-color:white;
  position:sticky;
  bottom: 0;
  width: 100%;
}


    @media screen and (max-width: 992px) {
        
        section,
        form,
        footer,
        #inputMessage
         {
          width: 100%;
          padding: 10px;
          margin: 5px;
        }

        aside {
          width:100%;
          clear: both;
        }
      
        h1, 
        body
         {
          width: 100%;
        }
      }
            
      @media screen and (max-width: 768px) {
        
          section,
          form,
          footer,
          #inputMessage
           {
            width: 100%;
            padding: 10px;
            margin: 5px;
          }

          aside {
            width:100%;
            clear: both;
          }
        
          h1, 
          body
          {
            width: 100%;
          }
        }
      
      @media screen and (max-width: 400px) {
        
          section, 
          form,
          aside,
          footer,
          #inputMessage
           {
            width: 100%;
            padding: 10px;
            margin: 5px;
          }
        
          h1, 
          body
          {
            width: 100%;
          }
        }
      