body {
  background-image: url("web background.png");
}
.navbar-dark {
  background: fixed;
  border: none;
  width: auto;
}  

section {
  width: 800px;
  padding-left: 100px;
  padding-right: 100px;
  background-color:white;
}

form {
  margin: 100px;
  padding: 30px;
  width: 500px;
  background-color:white;
}
h1 {
  color: black;
  padding: 10px;    
}

body{
  color:black;
}

#inputMessage {
  height: 100px;
}

footer {
  background-color:white;
  position: sticky;
  bottom: 0;
  width: 100%;
}

    @media screen and (max-width: 992px) {
        
        section,
        form,
        footer,
        #inputMessage
         {
          width: 100%;
          padding: 10px;
          margin: 5px;
        }
      
        h1, 
        body
         {
          width: 100%;
        }
      }
            
      @media screen and (max-width: 768px) {
        
          section,
          form,
          footer,
          #inputMessage
           {
            width: 100%;
            padding: 10px;
            margin: 5px;
          }
        
          h1, 
          body
          {
            width: 100%;
          }
        }
      
      @media screen and (max-width: 400px) {
        
          section, 
          form,
          footer,
          #inputMessage
           {
            width: 100%;
            padding: 10px;
            margin: 5px;
          }
        
          h1, 
          body
          {
            width: 100%;
          }
        }
      